<div id="content" class="flex">
    <div class="">
        <div class="page-content page-container" id="page-content">
            <div class="padding">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header"><strong>Login to your account</strong></div>
                            <div class="card-body">
                                <form [formGroup]="loginForm" (ngSubmit)="tryLogin(loginForm.value)" novalidate>

                                    <div class="form-group"><label class="text-muted" for="exampleInputEmail1">Email
                                            address</label>
                                        <input formControlName="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> <small id="emailHelp" class="form-text text-muted">We don't share email with anyone</small></div>
                                    <div class="form-group">
                                        <label class="text-muted" for="exampleInputPassword1">Password</label>
                                        <input formControlName="password" type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                        <div>
                                            <span class="text-danger" *ngIf="errorMessage != '' ">{{errorMessage}}</span>

                                        </div>
                                        <small id="passwordHelp" class="form-text text-muted">your password is saved in
                                            encrypted form</small>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check"><input type="checkbox" class="form-check-input"><label class="form-check-label">Check me out</label></div>
                                    </div> <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>