<div class="container py-3">
    <div class="row">
        <div *ngFor='let item of data' class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1">
            <div class="card"> <img class="card-img-top" src="{{item.image}}">
                <div class="card-body">
                    <h6 class="font-weight-bold pt-1">{{item.title}}</h6>
                    <div class="text-muted description">Space for small product description</div>
                    <div class="d-flex align-items-center product"> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="far fa-star"></span> </div>
                    <div class="d-flex align-items-center justify-content-between pt-3">
                        <div class="d-flex flex-column">
                            <div class="h6 font-weight-bold">36.99 USD</div>
                            <div class="text-muted rebate">48.56</div>
                        </div>
                        <div class="btn btn-primary">Buy now</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>